.icon-sm{
    font-size: 2rem;
}
.fa-heart{
    font-size:1.5rem;
}
.icon-lg{
    font-size: 9rem;
}
.avatar-lg{
    /* font-size: 9rem; */
    width: 9rem;
    height: 9rem;
    /* Height is not dynamic */
    object-fit:cover;
}

/* Profile page grind image */

.grid-img{
    width: 100%;
    height: 300px;
    /* Height is not dynamic */
    object-fit:cover;
}
.avatar-sm{
    width: 2rem;
    height: 2rem;
    /* Height is not dynamic */
    object-fit:cover;
}

.avatar-md{
    width:3.5rem;
    height:3.5rem;
    object-fit:cover;
}
.icon-md{
    font-size:3rem;
}
.xsmall{
    font-size: 0.65rem;
}
.image-lg{
    height: 9rem;
    width: 9rem;
    object-fit:cover;
}